/*** BODY ***/

body {
    font-family: 'Raleway', serif;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Indie Flower', serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.padding-form {
    padding: 10px;
}

.row {
    padding: 30px 0 0 0;
}

/*** NAV ***/

.blog-nav {
    margin: 0;
    overflow: hidden;
    float: right;
}

.blog-nav ul {
    color: #706969;
    font-size: medium;
    margin: 0;
    padding: 0;
}

.blog-nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

.blog-nav> ul> li> a {
    color: #706969;
    display: block;
    line-height: 3em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

.signedin {
    color: #dd5b5b;
}

/*** CONTENT ***/

.seperator {
    border-bottom: 1px solid #286090;
}

.post {
    margin: 0 0 17px 0;
}

.post-content {
    padding: 20px;
}

.post-title-border {
    margin: 5px 0 5px 0;
    border-bottom: 3px solid rgba(51, 122, 183, 0.58);
}

.single_comment {
  border-left: 2px solid rgba(51, 122, 183, 0.58);
  padding: 0 0 0 12px;
}

.title, .title:hover {
    text-decoration: none;
}

.commentbox {
  padding: 20px;
}
.commentbox textarea {
    border: 2px solid rgba(51, 122, 183, 0.58);
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: 0;
}

.commentform {
    padding: 10px 0 0 0;
}

.comment-delete-form {
    display: inline-block;
    padding: 0px;
}

.comment-delete-link {
  padding: 0px;
  border: 0px;
}

.commentbutton {
  margin-left: 10px;
}

.likebutton, .commentbutton {
  padding: 0;
  border: 0px;
}

.likebutton:hover, .commentbutton:hover {
  border: 0px;
  background-color: transparent;
}
.comment-symbol {
  font-size: 25px;
  color: darkcyan;
}

.likebox {
    font-size: 25px;
    margin: 20px 0 0 0;
}

.like_text {
    font-weight: normal;
    color: chocolate;
}

.like-symbol {
  font-size: 22px;
  color: chocolate;
}
