<div class="col-xs-12 post">
    <div class="col-xs-12">
        <h2>{{p.title}}
        <small>
          created on {{p.created.strftime("%b %d, %Y")}}
          {% if user and user.key().id() == p.author.get_id() %}
            | <a href="/blog/edit/{{p.key().id()}}">edit</a> | <a href="/blog/delete/{{p.key().id()}}">delete</a>
          {% endif %}
        </small>
      </h2>
        <hr>
    </div>
    <div class="col-xs-12">
        {{p.content | safe}}
    </div>
    <div class="col-xs-12 likebox">
        {{p.likes}} Likes {% if user %} - <a href="/blog/like/{{p.key().id()}}">Like</a> {% endif %}
    </div>
</div>
