<div class="col-xs-12 post">
    <div class="col-xs-12">
        <h2>{{p.title}}
        <small>
          created on {{p.created.strftime("%b %d, %Y")}}
          {% if user and user.get_id() == p.author.get_id() %}
            | <a href="/blog/edit/{{p.get_id()}}">edit</a> | <a href="/blog/delete/{{p.get_id()}}">delete</a>
          {% endif %}
        </small>
      </h2>
        <hr>
    </div>
    <div class="col-xs-12">
        {{p.content | safe}}
    </div>
    <div class="col-xs-12">
        <div class="likebox">
            <span class="like_text">{{p.likes}} Likes</span>
            {% if user %}
              <a class="btn btn-default" href="/blog/like/{{p.get_id()}}">Like</a>
            {% endif %}
            <!-- TODO how to check if collection "comments" has any comments or size is > 0 -->
            {% if p.comments.count > 0 %}
            <a class="btn btn-default" href="/blog/comment/{{p.get_id()}}">
              Show Comments
            </a>
            {% endif %}

        </div>
        {% if user and p.show_comments %}
          <div class="commentbox">
              <form class="form-inline commentform" method="post" action="/blog/comment/{{p.get_id()}}">
                  <div class="form-group">
                      <textarea name="comment_content" rows="1" cols="60" placeholder="Write your comment here"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Add Comment</button>
              </form>
          </div>
        {% endif %}

        {% if p.show_comments %}
          {% for comment in p.comments %}
          <h4>Comment by {{comment.user.name}}
            <small>
              {% if user and user.get_id() == comment.user.get_id() %}
                | <a href="/blog/comment/edit/{{comment.get_id()}}">edit</a> | <a href="/blog/comment/delete/{{comment.get_id()}}">delete</a>
              {% endif %}
            </small>
          </h4>
          <!-- TODO if path = blog/comment/edit/comment-id render editcomment.html else show comments-->
            {% if commentbox and user.get_id() == comment.user.get_id() %}
              {{commentbox | safe}}
            {% else %}
              <p>
                {{ comment.content }}
              </p>
            {% endif %}
          {% endfor %}
        {% endif %}
    </div>
</div>
