<div class="single_comment">
    <h4>Comment by {{comment.user.name}}
    <small>
      {% if user and user.get_id() == comment.user.get_id() %}
        | <a href="/blog/{{p.get_id()}}/comment/{{comment.get_id()}}/edit">edit</a> |
          <form class="comment-delete-form" method="post" action="/blog/{{p.get_id()}}/comment/{{comment.get_id()}}/delete">
              <button class="comment-delete-link btn-link">delete</button>
          </form>
      {% endif %}
    </small>
  </h4>
    <p>
        {{ comment.content }}
    </p>
</div>
