<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Multi User Blog</title>
    <!-- Bootstrap -->
    <script type="text/javascript" src="/js/jquery.min.js" defer></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" defer></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row seperator">
            <div class="col-lg-4">
                <h2>Multi User Blog</h2>
            </div>
            <div class="col-lg-7">

                <nav>
                    <ul>
                        {% if user %} Signed in as <span class="signedin">{{user.name}}</span> |
                        <li><a href="#">my posts</a></li>
                        <li><a href="/blog/addpost">add post</a></li>
                        <li><a href="/logout">logout</a></li> {% else %}

                        <li><a href="/login">login</a></li>
                        <li><a href="/register">register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
        <div class="row">{% block content %} {% endblock %}</div>

    </div>
</body>

</html>
